.header,
.main,
.user-input,
.hero-image-container,
.christmas-introduction,
.footer {
  background-color: #1A4848;
  font-family: "Asul", Arial, Helvetica, sans-serif;
  color: #fff;
}

.menu-item {
  color: #fff;
}

.hamburger span {
  background-color: #f95856;
}

.watchlist-counter {
  background-color: #fbd6d6;
}

.user-input-text {
  font-weight: bold;
  display: inline-block;
  margin: 15px;
  color: #f95856;
  align-self: flex-end;
}

.christmas-introduction-title {
  text-align: center;
}

.christmas-introduction-content {
  padding: 0 20px;
}

.button-random {
  width: auto;
  background-color: #f95856;
  letter-spacing: 2px;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 15px 30px;
  font-size: 1rem;
  cursor: pointer;
}

.search-input {
  flex-grow: 1;
  border: solid #f95856;
  padding: 15px 40px;
  font-size: 1rem;
  border-radius: 25px;
}

.main-content {
  display: none;
}

.main-content.active {
  margin-top: 35px;
  padding: 35px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  color: #fff;
}

.missing-message {
  display: none;
}

.missing-message.active {
  display: block;
}

.movie-grid-container {
  display: none;
}

.status-message {
  display: none;
}

.movie-grid-container.active {
  display: grid;
  gap: 10px;
  grid-template: 100px 100px 1fr 100px / repeat(6, 1fr);
  grid-template-areas:
    "image image movie-title movie-title movie-title movie-title"
    "image image year rating runtime mpa"
    "image image description description description description"
    "image image button button button button";
  height: 100%;
  width: 80%;
}

.movie-title {
  font-size: 2.5rem;
}

.movie-image-container {
  grid-area: image;
}

.movie-image-container img {
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.movie-title-container {
  align-items: center;
  display: flex;
  grid-area: movie-title;
  justify-content: center;
}

.movie-year-container {
  grid-area: year;
}

.movie-rating-container {
  grid-area: rating;
}

.movie-runtime-container {
  grid-area: runtime;
}

.movie-mpa-container {
  grid-area: mpa;
}

.movie-year-container,
.movie-rating-container,
.movie-runtime-container,
.movie-mpa-container {
  align-self: center;
  text-align: center;
  font-weight: bold;
}

.movie-description-container {
  background-color: var(--website-color-beige);
  grid-area: description;
  padding: 0 5px;
}

.movie-description {
  padding-left: 8%;
  padding-bottom: 15px;
}

.read-more {
  display: flex;
  grid-area: button;
  align-items: flex-end;
  justify-content: space-around;
}

.read-more a, #favouriteBtn{
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 0.8rem;
  width: 40%;
  text-align: center;
  background-color: #f95856;
  border-radius: 30px;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  height: 35px;
}

.read-more a:hover, .button-random:hover, #favouriteBtn:hover{
  background-color: #fff;
  color: #f95856;
}

.footer {
  padding: 30px;
}

@media (min-width: 340px) and (max-width: 1024px) {

  .main-content.active {
    padding-top: 0;
  }

  .movie-image-container {
    display: flex;
    justify-content: center;
  }

  .movie-image-container img {
    max-height: 400px;
    width: auto;
  }

  .user-input-text {
    display: flex;
    margin: 15px;
    color: #f95856;
    align-self: center;
  }

  .movie-grid-container.active {
    display: flex;
    flex-direction: column;
  }

  .movie-title {
    text-align: center;
  }

  .user-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .read-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .button-random {
    width: 100%;
  }

  .search-input {
    width: 100%;
  }

  .read-more a, #favouriteBtn{
    width: 240px;
  }
}