:root {
  --background-primary: #235E6F;
  --background-secondary: #424041;
  --color-primary: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--background-primary);
  font-family: Arial, Helvetica, sans-serif;
}

.header-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
}

.menu-item,
.header-item {
  text-decoration: none;
  color: var(--color-primary);
}

.menu-item:hover {
  text-decoration: underline #fdb1b5;
  text-underline-offset: 10px;
}

.hero-image {
  height: auto;
  width: 100%;
}

.main {
  background-color: var(--background-primary);
  flex-grow: 1;
}

.homepage-main {
  display: flex;
  background-image: url("../images/homepage_pattern.avif");
  background-color: #235E6F;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.homepage-content {
  width: 50%;
  background-color: var(--background-secondary);
  text-align: center;
  color: var(--color-primary);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
  padding: 15px;
}

.user-input {
  padding: 15px;
}

.user-input-title {
  display: inline;
  margin: 15px;
}

#button-random {
  background-color: #ff798a;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 15px 40px;
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
}

#button-random:hover {
  background-color: #ffffff;
  color: #ff798a;
}

#search-input {
  width: 100vh;
  padding: 15px 40px;
  font-size: 16px;
  border-radius: 25px;
  border: solid #ff798a;
}

.footer {
  background-color: var(--background-primary);
  text-align: center;
  color: var(--color-primary);
  padding: 15px;
}