:root {
  --background-primary: #235E6F;
  --background-secondary: #424041;
  --color-primary: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--background-primary);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 20%;
}

.header-logo img {
  width: 100px;
  height: auto;
}

.menu {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
}

.menu-item,
.header-item {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 1.2rem;
}

.menu-item:hover {
  text-decoration: underline #fdb1b5;
  text-underline-offset: 10px;
}

.hamburger {
  display: none;
  background: none;
  border: none;
}

.hamburger span {
  display: block;
  width: 26px;
  height: 4px;
  background-color: white;
  margin: 5px 0;
}

.watchlist-link {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.watchlist-icon {
  width: 24px;
  height: 24px;
}

.watchlist-counter {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: -8px;
  right: -14px;
  font-size: 0.8rem;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: crimson;
  font-weight: bold;
  background-color: #424041;
}

.hero-image {
  height: auto;
  width: 100%;
}

.main {
  background-color: var(--background-primary);
  flex-grow: 1;
}

.homepage-main {
  display: flex;
  background-image: url("../images/homepage_pattern.avif");
  background-color: #235E6F;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.homepage-content {
  width: 50%;
  background-color: var(--background-secondary);
  text-align: center;
  color: var(--color-primary);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
  padding: 15px;
}

.user-input {
  background-color: var(--background-secondary);
  padding-top: 35px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
}

.user-input-title {
  display: inline;
  margin: 15px;
}

#button-random {
  background-color: #ff798a;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 15px 40px;
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
}

#button-random:hover {
  background-color: #ffffff;
  color: #ff798a;
}

#search-input {
  width: 100vh;
  padding: 15px 40px;
  font-size: 16px;
  border-radius: 25px;
  border: solid #ff798a;
}

.footer {
  background-color: var(--background-primary);
  text-align: center;
  color: var(--color-primary);
  padding: 15px;
}

@media (min-width: 340px) and (max-width: 1024px) {
  .menu {
    position: relative;
    flex-wrap: wrap;
    align-items: center;
  }

  .watchlist-counter {
    top: -3px;
    right: -3px;
  }

  .menu-item {
    padding: 8px;
  }

  .homepage-content {
    width: 90%;
    opacity: 0.9;
  }

  .menu .watchlist-container, .menu .hamburger {
    flex: 0 0  auto;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
  }

  .hamburger {
    display: block;
  }

  .menu > a {
    display: none;
    width: 100%;
    text-align: right;
    padding: 12px 0;
  }

  .menu.active > a {
    display: block;
  }
}