:root {
  --background-primary: #ffffff;
  --background-secondary: #f0ead2;
  --background-tertiary: #dde5b6;
  --background-quaternary: #a98467;
  --color-primary: #6c584c;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #ff798a;
}

.header {
  background-color: var(--background-primary);
}

.header__title {
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
}

.menu-item,
.header-item {
  text-decoration: none;
  color: #ff798a;
}

.menu-item:hover {
  text-decoration: underline #fdb1b5;
  text-underline-offset: 10px;
}

.hero-image {
  height: auto;
  width: 100%;
}

.main {
  background-color: var(--background-primary);
  flex-grow: 1;
}

.user-input {
  padding: 15px;
}

.user-input-title {
  display: inline;
  margin: 15px;
}

#button-random {
  background-color: #ff798a;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 15px 40px;
  font-size: 16px;
  cursor: pointer;
}

#search-input {
  width: 80%;
  padding: 15px 40px;
  font-size: 16px;
  border-radius: 25px;
  border: solid #ff798a;
}

.footer {
  background-color: #ff798a;
  text-align: center;
  color: #ffffff;
  padding: 15px;
}