body {
  background-color: #5d0249;
  color: #ff8500;
  font-family: "HennyPenny", Arial, Helvetica, sans-serif;
}

.menu, .header {
  background-color: #5d0249;

  a {
    color: #ff8500
  }
}

.menu-item {
  font-family: "HennyPenny", Arial, Helvetica, sans-serif;
}

.header-title {
  color: #ff8500;
  font-family: "HennyPenny", Arial, Helvetica, sans-serif;
}

.halloween-intro {
  color: #ff8500;
  font-family: "HennyPenny";
  text-align: center;
}

.halloween-intro-content {
  padding: 10px;
}

.footer {
  color: #ff8500;
  background-color: #5d0249;
}

.user-input {
  background-color: #5d0249;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.user-input-title {
  color: #ff9020;
}

#button-random {
  background-color: #ff9020;
}

#search-input {
  border: solid #ff9020;
}

.movie {
  background-color: #5d0249;
  display: grid;
  grid-template-columns: 30% auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}

.movie img {
  grid-row: 1 / span 4;
  max-width: 100%;
  margin-top: 40px;
}

.movie-title {
  grid-column: 2 / span 4;
  text-align: center;
}

.movie-plot {
  grid-column: 2 / span 4;
}

.info {
  padding: 16px;
  margin: 16px;
  text-align: center;
  color: #ff8500;
}

#favouriteBtn {
  background-color: #ff8500;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-family: "HennyPenny", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-size: 0.8rem;
  margin-left: 20px;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  width: 200px;
}

.imdb-link {
  align-content: center;
  background-color: #ff8500;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 0.8rem;
  grid-column: 5;
  letter-spacing: 2px;
  margin-right: 20px;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  width: 200px;
}

.imdb-link:hover,
#favouriteBtn:hover {
  background-color: #fff;
  color: #ff8500;
}

.result {
  font-size: x-large;
  padding: 0 40px;
  text-align: center;
}


@media (min-width: 340px) and (max-width: 1024px) {

  .body {
    align-items: center;
  }

  .user-input {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  #button-random {
    width: 100%;
  }

  .user-input-title {
    width: 100%;
  }

  .movie {
    display: block;
  }

  .imdb-link {
    display: block;
    margin: auto;
    padding: 10px;
  }

  .info {
    margin: 0;
    padding: 0 20px;
  }

  .movie-plot {
    margin-top: 20px;
  }

  .result {
    padding: 0 8px;
  }

  #favouriteBtn {
    margin: 0 0 20px 0;
  }


}