body {
  background-color: #5d0249;
  font-family: "HennyPenny", Arial, Helvetica, sans-serif;
}

.menu {
  background-color: #5d0249;

  a {
    color: #ff8500
  }
}

.header-title {
  color: #ff8500;
  font-family: "HennyPenny"
}

.menu-item {
  font-family: "HennyPenny"
}

.hero-image-container {
  background-color: #5d0249;
}

.halloween-intro {
  color: #ff8500;
  font-family: "HennyPenny";
  text-align: center;
}

.footer {
  background-color: #5d0249;
  color:#ff8500;
}

.user-input {
  background-color: #5d0249;
  display: flex;
}

.user-input-title {
  color: #ff9020;
}

#button-random {
  background-color: #ff9020;
}

#search-input {
  border: solid #ff9020;
}

.movie {
  display: grid;
  grid-template-columns: 30% auto auto auto auto;
  grid-template-rows:  auto auto auto auto auto;
  background-color: #5d0249;
  justify-content: center;
}

.movie img {
  grid-row: 1 / span 4;
  max-width: 100%;
}

.movie-title {
  grid-column: 2 / span 4;
  text-align: center;
}

.movie-plot {
  grid-column: 2 / span 4;
}

.info {
  padding: 16px;
  margin: 16px;
  text-align: center;
  color: #ff8500;
}

.imdb-link {
  align-content: center;
  background-color: #ff8500;
  border-radius: 30px;
  grid-column: 5;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
}

.imdb-link:hover {
  background-color: white;
}