@font-face {
    font-family: "Asul";
    src: url("../fonts/Asul-Bold.woff2") format("woff2"),
        url("../fonts/Asul-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Asul";
    src: url("../fonts/Asul-Regular.woff2") format("woff2"),
        url("../fonts/Asul-Regular.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: HennyPenny;
  src: url("../fonts/HennyPenny-Regular.woff2") format("woff2"),
      url("../fonts/HennyPenny-Regular.woff") format("woff");
}

