:root {
  --background-primary: #ffffff;
  --background-secondary: #fdb1b5;
  --background-tertiary: #ff798a;
  --color-primary: #ffffff;
}

body {
  background-color: var(--background-secondary);
  font-family: 'Cormorant Upright';
}

.header-title {
  color: var(--color-primary);
}

.menu {
  background-color: var(--background-secondary);

  a {
    color: var(--color-primary);
    font-weight: bold;
  }
}

.menu-item:hover {
  text-decoration: underline var(--background-tertiary);
  text-underline-offset: 10px;
}

.hero-image {
  height: 471px;
  object-fit: cover;
}

.valentines-introduction {
  color: white;
}

.valentines-introduction-title {
  text-align: center;
}

.valentines-introduction-content {
  padding: 0 20px;
  font-size: 1.5rem;
}

.user-input {
  background-color: var(--background-secondary);
}

.user-input-title {
  color: var(--background-tertiary);
  font-weight: bold;
}

#button-random {
  background-color: var(--background-tertiary);
  font-family: 'Cormorant Upright';
}

#search-input {
  border: solid var(--background-tertiary);
  font-family: 'Cormorant Upright';
}

.main {
  background-color: #fdb1b5;
}

.movie-container {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  color: var(--color-primary);
  padding-left: 100px;
}

h2 {
  text-align: center;
}

.movie-info {
  display: flex;
  flex-direction: column;
  padding: 15px 100px 50px 100px;
}

.movie-stats {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.footer {
  background-color: var(--background-secondary);
  border-top: solid var(--background-primary);
}

@media screen and (max-width: 700px) {

  body {
    align-items: center;
  }

  .header-title {
    text-align: center;
    margin: 0;
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .hero-image {
    width: 100%;
    height: auto;
  }

  .valentines-introduction-title {
    margin: 16px;
  }

  .valentines-introduction-content {
    font-size: 1rem;
    text-align: center;
  }

  #search-input {
    width: fit-content;
  }

  .user-input {
    display: flex;
    flex-wrap: wrap;
    width: min-content;
    text-align: center;
  }

  #button-random {
    width: 100%;
  }

  .user-input-title {
    width: 100%;
  }

  .footer {
    width: -webkit-fill-available;
  }
}