:root {
  --background-primary: #ffffff;
  --background-secondary: #fdb1b5;
  --background-tertiary: #ff798a;
  --color-primary: #ffffff;
}

.header {
  border-bottom: solid lightgrey;
}

body {
  background-color: var(--background-secondary);
}

.header-title {
  color: var(--color-primary);
}

.menu {
  background-color: var(--background-secondary);

  a {
    color: var(--color-primary);
  }
}

.user-input {
  background-color: var(--background-secondary);
  border: solid var(--background-primary);
}

.user-input-title {
  color: var(--background-tertiary);
}

#button-random {
  background-color: var(--background-tertiary);
}

#search-input {
  border: solid var(--background-tertiary);
}

.main {
  background-color: #fdb1b5;
}

.movie-container {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  color: var(--color-primary);
  padding-left: 100px;
}

h2 {
  text-align: center;
}

.movie-info {
  display: flex;
  flex-direction: column;
  padding: 15px 100px 50px 100px;
}

.movie-stats {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.footer {
  background-color: var(--background-secondary);
  border-top: solid var(--background-primary);
}