:root {
  --background-primary: #ffffff;
  --background-secondary: #fdb1b5;
  --background-tertiary: #ff798a;
  --color-primary: #ffffff;
}

.main {
  background-color: #fdb1b5;
}

.menu {
  background-color: var(--background-tertiary);

  a {
    color: var(--color-primary)
  }
}

.header-title {
  color: var(--color-primary)
}

.footer {
  background-color: var(--background-tertiary)
}

.user-input {
  background-color: var(--background-secondary)
}

.user-input-title {
  color: var(--background-tertiary)
}

body {
  background-color: var(--background-secondary)
}

#button-random {
  background-color: var(--background-tertiary)
}

#search-input {
  border: solid var(--background-tertiary);
}

.movie {
  display: grid;
  grid-template-columns: 30% auto auto auto auto;
  background-color: var(--background-secondary);
  justify-content: center;
}

.movie img {
  grid-row: 1 / span 3;
}

.movie-title {
  grid-column: 2 / span 4;
  text-align: center;
}

.movie-plot {
  grid-column: 2 / span 4;
}

.info {
  padding: 16px;
  margin: 16px;
  text-align: center;
  background-color: var(--background-secondary);
  color: var(--color-primary)
}