:root {
  --background-primary: #ffffff;
  --background-secondary: #fdb1b5;
  --background-tertiary: #ff798a;
  --color-primary: #ffffff;
}

body {
  background-color: var(--background-secondary);
  font-family: 'Cormorant Upright';
}

.header-title {
  color: var(--color-primary);
}

.menu {
  background-color: var(--background-secondary);

  a {
    color: var(--color-primary);
    font-weight: bold;
  }
}

.menu-item:hover {
  text-decoration: underline var(--background-tertiary);
  text-underline-offset: 10px;
}

.hero-image {
  height: 471px;
  object-fit: cover;
}

.valentines-introduction {
  color: white;
}

.valentines-introduction-title {
  text-align: center;
}

.valentines-introduction-content {
  padding: 0 20px;
  font-size: 1.5rem;
}

.user-input {
  background-color: var(--background-secondary);
}

.user-input-title {
  color: var(--background-tertiary);
  font-weight: bold;
}

#button-random {
  background-color: var(--background-tertiary);
  font-family: 'Cormorant Upright';
  text-decoration: none;
  height: fit-content;
  width: max-content;
}

.imdb-button {
  margin-left: 32px;
}

#search-input {
  border: solid var(--background-tertiary);
  font-family: 'Cormorant Upright';
}

.main {
  background-color: var(--background-secondary);
  color: var(--color-primary);
  text-align: center;
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.movie-container {
  display: grid;
  grid-template-columns: 30% 17.5% 17.5% 17.5% 17.5%;
  grid-template-rows: auto 30% auto auto auto;
  padding: 40px;
  font-size: 1.4rem;
  width: 100%;
}

.movie-container img {
  grid-row: 1 / span 4;
  max-width: 100%;
}

.movie-title {
  grid-column: 2 / span 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-plot {
  grid-column: 2 / span 4;
  color: var(--color-primary);
  margin: 16px;
  padding-left: 16px;
  text-align: justify;
  font-size: 1.5rem;
}

.info {
  margin: 16px;
  text-align: center;
  color: var(--color-primary);
}

.footer {
  background-color: var(--background-secondary);
  border-top: solid var(--background-primary);
}

@media screen and (max-width: 700px) {

  body {
    align-items: center;
  }

  .header-title {
    text-align: center;
    margin: 0;
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .hero-image {
    width: 100%;
    height: auto;
  }

  .valentines-introduction-title {
    margin: 16px;
  }

  .valentines-introduction-content {
    font-size: 1rem;
    text-align: center;
  }

  #search-input {
    width: fit-content;
  }

  .user-input {
    display: flex;
    flex-wrap: wrap;
    width: min-content;
    text-align: center;
  }

  #button-random {
    width: 100%;
    text-align: center;
  }

  .user-input-title {
    width: 100%;
  }

  .movie-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
  }

  .movie-title {
    padding: 15px;
  }

  .info {
    margin: 0;
  }

  .movie-plot {
    padding: 0px;
    font-size: 1rem;
  }

  .imdb-button {
    margin-left: 0;
  }

  .footer {
    width: -webkit-fill-available;
  }
}